.masthead {
  background-color: #eae8e1;
}

.logo {
  margin: 0 auto;
  max-width: 256px;
}

.nav {
margin-top:{ 1.5rem;
}

.nav a {
display: inline-block;
margin: 0 0.4em;
}

.current {
background-color: red;
}


@media only screen and (min-width: 50em) {

  .logo {
    margin: 0;
  }
}

.nav {
  margin-top: 0;
  text-align: right;
}

.banner {
	background: #06B65E url("../images/banner.jpg") no-repeat center center;
	background-size: cover;
	padding: 5rem 1rem 1rem;
	text-align: center;
	color: #fff;
}

.banner h1 {
	color: #fff;
}

.nav a {
  display: inline-block;
  margin: 0 0.4em;
}
