@charset "UTF-8";
/* CSS Document */

/* Colour palette  
	#FCF pink
	#F90 orafge
	#FFF white
	#F63 dark orange*/
	
html {
	margin: 0 1rem 0 1rem;
	font: normal 100%/1.5 Tahoma, Geneva, sans-serif; /*16px/24px */
}

 ::selection {
	background-color: orange;
	color: #fff;
}

a,
a:link {
	color: red;
	text-decoration: none;
	border-bottom: 0.1em solid rgba(0,0,255,0,.5);
	transition: all 220ms linear;
}

a:hover,
a:focus,
a:active {
	color: #FCF;
	border-bottom-color: #FCF;
}

a:visited {
	color: #FCF;
	border-bottom-color: #000;
}

h1, h2, h3, h4, h5, h6,
p ul, ol, dl,
table {
	color: #F90;
	margin: 0 0 1.5rem;
}

.yotta {
	font-size:2.28rem; /*36.48px / 54.72px */
	line-height: 1.315;
}

.zetta {
	font-size:2.027rem;
}

h1, .exa {
	font-size:1.802rem;	
}

h2, .peta {
	font-size:1.602rem;
}

h3, .tera {
	font-size:1.424rem;
}

h4, giga {
	font-size:1.266rem;
}

h5, .mega {
	font-size: 1.125rem;
}

h6, .kilo {
	font-size: 1rem;
}

small, .milli {
	font-size:0.889rem;	
}

.micro {
	font-size:0.79rem;
}

ul {
	list-style-type: none;
}

ul li:before {
	content: "";
	color: #666;	
	position: absolute;
	text-align: right;
	left: -1.3rem;
}

ul li {
  position: relative;
}